#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data_path = '../content/drive/MyDrive/Data Analysis/M 3. Pandas, Numpy/Data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [5]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [15]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

**Відповідь**: Найвищий сумарний прибуток в філіалі С (5265.1765).

In [21]:
df.groupby('Branch')['gross income'].sum().max()

5265.1765

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [31]:
df[df.Branch == 'C'].City.unique()

array(['Naypyitaw'], dtype=object)

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [35]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [37]:
electronic_accessories_invoices = invoices_by_category['Electronic accessories'].sort_values(ascending=False).head(1)
electronic_accessories_invoices

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌


**Питання1:** У яких філіях супермаркету купують найбільше товарів у категорії "Електронні аксесуари"?

**Гіпотеза1:** Філії з більшою кількістю покупців, ймовірно, матимуть більше покупок у категорії "Електронні аксесуари".

**Виконання:** порахуємо кількість покупок для кожної філії для категорії "Електронні аксесуари".

In [39]:
electronic_accessories_sales = df[df['Product line'] == 'Electronic accessories']

In [41]:
electronic_accessories_sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
11,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1

In [43]:
sales_by_branch = electronic_accessories_sales.groupby('Branch').size()
sales_by_branch

Branch
A    60
B    55
C    55
dtype: int64

**Рекомендації:** Бізнес може зосередитись на посиленій рекламній кампанії в цих філіях для збільшення продажів інших категорій товарів. Також можна вивчити, що саме сприяє високим продажам цієї категорії у цій філії (наприклад, розташування або маркетингова акція).

**Питання2:** Який платіжний метод найбільш популярний серед покупців у кожному місті?

**Гіпотеза2:** У великих містах люди частіше користуються безготівковими методами оплати (наприклад, картками чи електронними гаманцями), тоді як у менших містах популярніша готівка.

**Виконання:** Для цього ми можемо скористатись groupby() для групування за містом та платіжним методом і порахувати кількість використань кожного платіжного методу.

In [50]:
payment_method_by_city = df.groupby(['City', 'Payment']).size()
payment_method_by_city

City       Payment
Mandalay   Cash           110
           Credit card    109
           Ewallet        113
Naypyitaw  Cash           124
           Credit card     98
           Ewallet        106
Yangon     Cash           110
           Credit card    104
           Ewallet        126
dtype: int64

In [51]:
most_popular_payment_method = payment_method_by_city.groupby('City').idxmax()
most_popular_payment_method

City
Mandalay     (Mandalay, Ewallet)
Naypyitaw      (Naypyitaw, Cash)
Yangon         (Yangon, Ewallet)
dtype: object

**Рекомендації:** Знати популярні платіжні методи дозволить магазинам налаштувати зручність оплати, пропонуючи найбільш затребувані способи. Якщо в одному місті популярні картки, можна зробити акцент на покращенні платіжних терміналів, а якщо в іншому — на готівкових розрахунках.

**Питання3:** Яка категорія товарів приносить найбільший прибуток в кожному філіалі?

**Гіпотеза3:** У кожному філіалі найбільший прибуток генерується однією категорією товарів. Наприклад, в одному філіалі це можуть бути "Електронні аксесуари", в іншому – "Продукти харчування".

**Виконання:** потрібно підсумувати прибуток (gross income) для кожної категорії товарів по кожному філіалу.

In [52]:
grouped = df.groupby(['Branch', 'Product line'])['gross income'].sum()
grouped

Branch  Product line
A       Electronic accessories     872.2435
        Fashion accessories        777.7385
        Food and beverages         817.2905
        Health and beauty          599.8930
        Home and lifestyle        1067.4855
        Sports and travel          922.5095
B       Electronic accessories     811.9735
        Fashion accessories        781.5865
        Food and beverages         724.5185
        Health and beauty          951.4600
        Home and lifestyle         835.6745
        Sports and travel          951.8190
C       Electronic accessories     903.2845
        Fashion accessories       1026.6700
        Food and beverages        1131.7550
        Health and beauty          791.2060
        Home and lifestyle         661.6930
        Sports and travel          750.5680
Name: gross income, dtype: float64

In [53]:
max_profit_category = grouped.groupby('Branch').idxmax()
max_profit_category

Branch
A    (A, Home and lifestyle)
B     (B, Sports and travel)
C    (C, Food and beverages)
Name: gross income, dtype: object

In [54]:
max_profit_values = grouped[max_profit_category]
max_profit_values

Branch  Product line
A       Home and lifestyle    1067.4855
B       Sports and travel      951.8190
C       Food and beverages    1131.7550
Name: gross income, dtype: float64

**Рекомендації:**
1. Оптимізації асортименту в кожному філіалі: наприклад, збільшити кількість товарів з прибуткових категорій або покращити їх розміщення.
2. Покращення маркетингових стратегій, орієнтуючись на ці категорії товарів.
3. Оцінки потреб у поповненні складів для найбільш прибуткових категорій товарів.